* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #e1d8f1;
  border-radius: 10px;
  padding: 30px;
}

#search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

#search-input {
  padding: 15px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

#search-button {
  padding: 15px 30px;
  background-color: #9141cb;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  color: #333;
}

#pokemon-name,
#pokemon-id,
#weight,
#height {
  font-size: 28px;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#weight,
#height {
  font-size: 20px;
}

.body-info-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#image-container {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sprite {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#types {
  color: #ffffff;
}

.type {
  margin-right: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

#stats {
  width: 100%;
  max-width: 500px;
  margin-top: 25px;
  background: #c5a3ff;
  border-radius: 10px;
  border-collapse: separate;
  white-space: nowrap;
  border: 3px solid #9141cb;
}

#stats th,
#stats td {
  padding: 10px;
  border: 1px solid #9141cb;
}

.stat-value {
  background: #c5a3ff;
  text-align: center;
}

.hp {
  background: #9ee865;
  text-align: center;
}

.attack {
  background: #f5de69;
  text-align: center;
}

.defense {
  background: #f09a65;
  text-align: center;
}

.special-attack {
  background: #66d8f6;
  text-align: center;
}

.special-defense {
  background: #899eea;
  text-align: center;
}

.speed {
  background: #e46cca;
  text-align: center;
}

.type.normal {
  background-color: #a8a8a8;
}
.type.fire {
  background-color: #f08030;
}
.type.water {
  background-color: #6890f0;
}
.type.electric {
  background-color: #f8d030;
}
.type.grass {
  background-color: #78c850;
}
.type.ice {
  background-color: #98d8d8;
}
.type.fighting {
  background-color: #c03028;
}
.type.poison {
  background-color: #a040a0;
}
.type.ground {
  background-color: #e0c068;
}
.type.flying {
  background-color: #a890f0;
}
.type.psychic {
  background-color: #f85888;
}
.type.bug {
  background-color: #a8b820;
}
.type.rock {
  background-color: #b8a038;
}
.type.ghost {
  background-color: #705898;
}
.type.dragon {
  background-color: #7038f8;
}
.type.dark {
  background-color: #705848;
}
.type.steel {
  background-color: #b8b8d0;
}
.type.fairy {
  background-color: #ee99ac;
}
